@model TaskManager.Models.User
@{
    ViewData["Title"] = "Reset Password";
}

<div class = "card p-5">

<h2 class="text-center">Reset Password for <strong class="text-danger">"@Model.Email"  </strong></h2>

<form method="post">
    <div class="mb-3">
        <label>New Password</label>
        <input name="newPassword" type="password" class="form-control" required />
    </div>
    <center>
    <button class="btn btn-secondary">Reset Password</button>
    <a href="/Admin/Users" class="btn btn-danger ms-2" style="width:100px">Cancel</a>
    </center>
</form>
 </div>
