@model TaskManager.Models.Project

@{
    ViewData["Title"] = "Delete Project";
}

<h2 class="text-center text-secondary">
    <i class="bi bi-pencil-square me-2"></i>
    Delete Project
</h2>

<div class="card shadow-sm mt-4">
    <div class="card-body">
    
        <form method="post" action="/Projects/Delete/">
            
            <!-- Hidden ID -->
            <input type="hidden" asp-for="Id" />

            <h4 class="text-center text-secondary">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                Are you sure you want to delete the project "<strong class="text-danger">@Model.Name</strong>"?
            </h4>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash me-1"></i> Yes, Delete
                </button>

                <a href="/Projects" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>
